# App configuration
PROJECT_NAME="Max Hackathon API"
DEBUG=True
API_V1_STR="/api/v1"
HOST=0.0.0.0
PORT=8000

# PostgreSQL configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=hackaton_db

# Database connection URLs
# For async FastAPI database operations
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/hackaton_db
# For Alembic migrations (synchronous driver)
SYNC_DATABASE_URL=postgresql://postgres:postgres@db:5432/hackaton_db
